<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>InventoryController.Authentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>InventoryController.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Testing</servlet-name>
        <servlet-class>InventoryController.Testing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>T</servlet-name>
        <servlet-class>InventoryController.T</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Testing</servlet-name>
        <url-pattern>/Testing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>T</servlet-name>
        <url-pattern>/T</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
